footer
    position relative
    bottom 0 
    width 100%
    height 55px
    background-color #FFF
    display flex
    align-items center
    justify-content center
    z-index 2
    +mobile()
        width 90%
        margin 0 auto
        flex-wrap wrap
        text-align center
    p
        opensans(10)
        color #111
        margin 0
        a
            opensans(10)
            color #111
            margin 0
            &:hover
            &:focus 
                color #F27C95
  
