header
    width 100%
    height 160px
    margin 0
    top 0
    left 0
    z-index 2
    background-color #FFF
    .logo
        width 100%
        height 160px
        position absolute
        margin 0
        background $img('marca-lucianaGarbin.png') no-repeat center
        z-index 2
       