.home
    width 100%
    height auto
    .banners
        position relative
        width 100%
        height 440px
        z-index 1
        background-color #FFF
        overflow-y hidden
        .banner
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-position center
        .frase-banner
            position absolute
            width 100%
            top 0
            margin 190px 0 0 0
            z-index 9999
            display flex
            justify-content center
            cinzel(46)
            color #FFF
            +below($tablet)
               cinzel(35) 
            +mobile()
                flex-wrap wrap
                text-align center
        .cycle-pager 
            display flex
            flex-direction row
            position absolute
            bottom 10px
            width 8%
            z-index 999
            padding 0
            background transparent
            margin 0 0 0 46%
            +below($tablet)
                width 12%
                margin 0 0 0 44%
            +mobile()
                width 25%
                margin 0 0 0 37.5%
            span 
                height 4px
                border-radius 0
                float left
                color transparent
                transition-property background-color
                transition-duration 300
                border 0.5px solid #d9d9d9
                cursor pointer
                margin 2px
        .cycle-pager span:hover, .cycle-pager span.cycle-pager-active, #sb-counter div.sb-counter-current 
            background #d9d9d9
    .institucional
        width 1200px
        margin 40px auto
        display flex
        flex-direction row
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
        .dados-pessoa
            width 50%
            display flex
            flex-direction column
            align-items flex-start
            +mobile()
                width 100%
                align-items center
            img 
                width 50%
                border-radius 50%
                margin-top 15px
            .nome
                opensans(22)
                color #A05675
                font-weight 700
                margin 15px 0 0 0
                +below($tablet)
                    opensans(18)
            .registro
                opensans(16)
                color #A05675
                font-weight 700
                margin 5px 0 0 0
                +below($tablet)
                    opensans(14)
        .textos-perfil
            width 50%
            +mobile()
                width 100%
            .formacao
                p
                    line-height 1.2
                    +mobile()
                        text-align center
                    span 
                        opensans(18)
                        font-style italic
                        color #A05675
                        +below($tablet)
                            opensans(16)
            .perfil
                p
                    line-height 1.2
                    +mobile()
                        text-align center
                    span 
                        opensans(18)
                        color #A05675
                        +below($tablet)
                            opensans(16)
    .areas-atuacao
        width 100%
        background-color #F4EBED
        padding 55px 0 80px 0
        .titulo
            width 900px
            margin 0 auto
            cinzel(24)
            color #A05675
            text-align center
            text-transform uppercase
            +below($tablet)
                width 80%
        .area
            width 900px
            margin 0 auto
            display flex
            flex-direction column
            align-items center
            +below($tablet)
                width 80%
            .area-titulo
                opensans(30, bold)
                color #A05675
                margin 50px 0 0 0
                text-align center
                border-bottom 1px solid #F27C95
                padding-bottom 15px
                width 100%
                +below($tablet)
                    opensans(24)
            .area-texto
                width 80%
                text-align center
                margin-bottom 20px
                +mobile()
                    width 100%
                p
                    line-height 1.2
                    span
                        opensans(19)
                        font-size 19px !important
                        color #A05675
                        +below($tablet)
                            font-size 16px !important
    .contatos
        width 100%
        background $img('bg-contato.png')
        background-color #A05675
        background-repeat no-repeat
        background-size 70% 90%
        background-position -71% 0 // -290px 0
        padding 60px 0
        display flex
        flex-direction column
        align-items center
        .titulo
            margin 0
            cinzel(24)
            color #FFF
        .telefone
            margin 38px 0 22px 0
            opensans(16, bold)
            color #FFF
            &:hover
            &:focus
                color #F27C95
        form
            width 900px
            margin 0 auto
            display flex
            flex-direction column
            align-items center
            +below($tablet)
                width 85%
            +mobile()
                width 90%
            .form-contato
                width 100%
                display flex
                flex-direction row
                +mobile()
                    flex-direction column
                .dados
                    width 45%
                    display flex
                    flex-direction column
                    +mobile()
                        width 100%
                    input[type=text]
                    input[type=email] 
                        margin 2px 0 2px 15px
                        height 26px
                        padding 0 10px
                        outline none
                        opensans(16)
                        color #FFF
                        background-color transparent
                        border 1px solid #FFF
                        +placeholder()
                            color #FFF
                            background-color transparent
                        &:hover
                        &:focus
                            font-weight 700
                        +mobile()
                            margin 2px 0
                textarea
                    margin 2px 4px
                    height 86px
                    width 43%
                    padding 5px 10px
                    outline none
                    opensans(16)
                    color #FFF
                    background-color transparent
                    border 1px solid #FFF
                    +placeholder()
                        color #FFF
                        background-color transparent
                    &:hover
                    &:focus
                        font-weight 700
                    +mobile()
                        margin 2px 0
                        width 100%
                        height 120px
                .btn-contato
                    width 10%
                    margin 2px 0
                    border-radius 0
                    opensans(16, bold)
                    background-color transparent
                    border 1px solid #FFF
                    color #FFF
                    text-transform uppercase
                    height 86px
                    outline none
                    &:hover
                    &:focus
                        background-color #FFF
                        color #F27C95
                    +mobile()
                        width 100%
                        height 40px
            clearfix()
            .flash
                display flex
                flex-direction column
                align-items center
                justify-content space-around
                margin 5px 0 0 0
                width 60%
                height 60px
                opensans(14, medium)
                padding 10px
                border-radius 0
                > p
                    margin 0
                +mobile()
                    width 100%
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
        .enderecos
            width 1200px
            margin 85px auto 10px auto
            display flex
            flex-direction row
            +below($tablet)
                width 100%
            +mobile()
                flex-direction column
            .endereco1
                width 50%
                padding-right 5px
                +mobile()
                    width 100%
                    padding 0 0 20px 0
                .local1
                    opensans(14)
                    color #FFF
                    text-transform uppercase
                    margin 0 30px 0 0 
                    text-align end
                .end1, .cidade1
                    opensans(14)
                    color #FFF
                    margin 0 30px 0 0 
                    text-align end
                .mapa1
                    margin 15px 0 10px 0
                    iframe 
                        width 100%
                        height 350px
            .endereco2
                width 50%
                padding-left 5px
                +mobile()
                    width 100%
                    padding 0
                .local2
                    opensans(14)
                    color #FFF
                    text-transform uppercase
                    margin 0 0 0 30px
                    text-align start
                .end2, .cidade2
                    opensans(14)
                    color #FFF
                    margin 0 0 0 30px
                    text-align start
                .mapa2
                    margin 15px 0 10px 0
                    iframe 
                        width 100%
                        height 350px

